.my-nav {
  background-color: #009999;
}

.my-nav ul {
  margin: 10px 0;
}

.pull-right li {
  padding: 0 5px;
}

.navbar-header p {
  color: white;
  margin: 10px auto;
}

#contact-me button {
  margin: 0 auto;
}

body {
  padding-top: 100px;
}